
<link href='/js/calendar/main.css' rel='stylesheet' />
<script src='/js/calendar/main.js'></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      themeSystem: 'bootstrap',
        events: [
        {{#each events}}
        {
          title: '{{this.subject}}',
          start: '{{eventDateTime this.start.dateTime}}',
          end: '{{eventDateTime this.end.dateTime}}',
          color: '#add8e6'
        },
        {{/each}}
        {{#each finalMeetings}}
        {
          title: '{{this.title}}',
          start: '{{eventDateTime this.meeting_date_start}}',
          end: '{{eventDateTime this.meeting_date_end}}',
          color: 'blue',
          url: '/meetings'
        },
        {{/each}}
  ]
    });
    calendar.render();
  });

</script>
<div style="margin-top: 5em;" class="container">
  <div class="row">
    <div class="col-md-3">
      <a href="/meetings/create" class="addMeeting btn btn-primary"><i class="fa fa-plus fa-lg align-self-center mr-2"></i> New Meeting</a>
      <hr>
      <h5>Upcoming meetings</h5>
      <div class="meeting-list">
        <h4>Title</h4>
        <p>Date & time</p>
      </div>

    </div>
      <div class="col-md-9 spacing-1em">
            <div class="row d-flex align-items-center head-meetings">
              <div class="col-12 col-lg-8">
                  <h3>Meetings.</h3>
                  <p>Here you can see accept meetings, view future meetings, manage and create new meetings!</p>
              </div>
              <div class="col-12 col-lg-4">
                  <img src="assets/graphic/schedule_undraw.png" alt="banner">
              </div>
            </div>
        <div id='calendar'></div>
    </div>
  </div>
</div>
