
<link href='/js/calendar/main.css' rel='stylesheet' />
<script src='/js/calendar/main.js'></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      themeSystem: 'bootstrap',
        events: [
          {{#each events}}
          {
            title: '{{this.subject}}',
            start: '{{eventDate this.start.dateTime}}',
            end: '{{eventDate this.end.dateTime}}',
            color: '#add8e6'
          },
          {{/each}}
          {{#each finalMeetings}}
          {{#if this.final}}
          {
            title: '{{this.title}}',
            start: '{{eventDate this.meeting_date_start}}',
            end: '{{eventDate this.meeting_date_end}}',
            color: 'blue',
            url: '/meetings'
          },
          {{/if}}
          {{/each}}
        ]
  });

  calendar.render();
});

</script>
<div style="margin-top: 5em;" class="container">
  <div class="row">
    <div class="col-md-3">
      <a href="/meetings/create" class="addMeeting btn btn-primary"><i class="fa fa-plus fa-lg align-self-center mr-2"></i> New Meeting</a>
      <hr>
      <h5>New:</h5>
      {{#each finalMeetings}}
        {{#unless this.seen}} 
          <a class="meeting-link" href="/meetings/view/{{this.id}}">
          <div class="meeting-list">
            <h4>{{this.title}}</h4>
            <p><i class="fas fa-calendar-check"></i> {{#if this.meeting_date_start}}{{readableDate this.meeting_date_start}}{{else}}To be determined.{{/if}}<br>
            <i class="fas fa-map-marker"></i> {{this.location}}<br>
            <i class="fas fa-user"></i> You & {{decrement this.attendeesCounter}} other(s)<br>
            {{#if this.voted }}
              <i style="color: green" class="fas fa-poll"></i> You've voted.</p>
            {{else}}
              <i style="color: red" class="fas fa-poll"></i> Not yet voted.</p>
            {{/if}}
          </div>
          </a>
        {{/unless}}
      {{/each}}
      <hr>
      <h5>Upcoming:</h5>
      {{#each finalMeetings}}
        {{#if this.seen}} 
          {{#if this.active}}
          <a class="meeting-link" href="/meetings/view/{{this.id}}">
          <div class="meeting-list">
            <h4>{{this.title}}</h4>
            <p><i class="fas fa-calendar-check"></i> {{#if this.meeting_date_start}}{{readableDate this.meeting_date_start}}{{else}}To be determined.{{/if}}<br>
            <i class="fas fa-map-marker"></i> {{this.location}}<br>
            <i class="fas fa-user"></i> You & {{decrement this.attendeesCounter}} other(s)<br>
            {{#if this.voted }}
              <i style="color: green" class="fas fa-poll"></i> You've voted.</p>
            {{else}}
              <i style="color: red" class="fas fa-poll"></i> Not yet voted.</p>
            {{/if}}
          </div>
          </a>
          {{/if}}
        {{/if}}
      {{/each}}
      <hr>
      <h5>Previous:</h5>  
      {{#each finalMeetings}}
          {{#if this.active}}
          {{else}}
          <a class="meeting-link" href="/meetings/view/{{this.id}}">
            <div class="meeting-list ended">
            <h4>{{this.title}}</h4>
            <p><i class="fas fa-calendar-check"></i> {{#if this.meeting_date_start}}{{readableDate this.meeting_date_start}}{{else}}To be determined.{{/if}}<br>
            <i class="fas fa-map-marker"></i> {{this.location}}<br>
            <i class="fas fa-user"></i> You & {{decrement this.attendeesCounter}} other(s)<br>
            {{#if this.voted }}
              <i class="fas fa-poll"></i> You've voted.
            {{else}}
              <i class="fas fa-poll"></i> Didn't vote.
            {{/if}}
            </p>
          </div>
          </a>
          {{/if}}
      {{/each}}

    </div>
      <div class="col-md-9 spacing-1em">
            <div class="row d-flex align-items-center head-meetings">
              <div class="col-12 col-lg-8">
                  <h3>Meetings.</h3>
                  <p>Here you can see accept meetings, view future meetings, manage and create new meetings!</p>
              </div>
              <div class="col-12 col-lg-4">
                  <img src="assets/graphic/schedule_undraw.png" alt="banner">
              </div>
            </div>
        <div id='calendar'></div>
    </div>
  </div>
</div>
