
<div style="margin-top: 5em;" class="container">
{{!-- {{json meeting.details.[0]}}
<br>
<br>
{{json meeting.attendees}} --}}
    

  <div class="row">
    <div class="col-md-9">

      <h4>{{meeting.details.[0].title}}</h4>
      <hr>
        <p class="align-items-right text-right">Created: {{readableDate meeting.details.[0].creation_date}}</p>
        <div class="row">
      <div class="col-md-4">
        <p><i class="fas fa-clock"></i> To be determined.</p>
        <p><i class="fas fa-map-marker-alt"></i> {{meeting.details.[0].location}}</p>
        <p>Description: {{meeting.details.[0].description}}</p>
      </div>
      <div class="col-md-8">
    <div class="col-md-4"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-poll"></span> Attendance date & time</h3>
            </div>
            <div class="panel-body">
              <div class="box">
                <input id="two" type="checkbox">
                <span class="check"></span>
                <label for="two">Hey! Check me too.</label>
                <p data-toggle="tooltip" data-placement="right" data-html="true"  title="Organizern<br>asd<br>"><i class="fas fa-user"></i> +5</p>
              </div>
            </div>
            <div class="panel-footer text-center">
                <button type="button" class="btn btn-primary btn-block btn-sm">
                    Vote</button>
                <a href="#" class="small">None of these times fit me</a>
            </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-3">
      <h5>Attendees:</h5>

      {{#each meeting.attendees}}
      <div style="margin-bottom: 2em;" class="attendees-list">
        
        <p>{{#if this.picture}}<img src="/{{ this.picture }}" class="rounded-circle align-self-center mr-2" style="width: 32px; border: 1px solid grey;">{{else}}
        <i class="far fa-user-circle fa-lg rounded-circle align-self-center mr-2" style="font-size: 30px;"></i>
        {{/if}}
        {{this.displayName}} 
        {{#if (ifEquals this.user_id ../meeting.details.[0].organizer_id)}}
        <i class="fas fa-crown" data-toggle="tooltip" data-placement="top" title="Organizer"></i>
        {{/if}}
        {{#if this.seen}}
        <i class="fas fa-check" data-toggle="tooltip" data-placement="top" title="Seen"></i>
        {{/if}}
        </p>
        <p style="font-size: 0.8em; margin-top: -1em;">{{this.email}}</p>  
      </div>
      {{/each}}
    </div>
  </div>
</div>
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
</script>